/*! CSS Used from: http://127.0.0.1:5000/static/css/style.min.css */
@media only screen and (min-width:1024px){
	::-webkit-scrollbar{width:8px;height:8px;}
	::-webkit-scrollbar-track-piece{background:#FFF;}
	}
	body{height:100%;}
	body{font-family:"Open Sans",Helvetica,"Microsoft Yahei",sans-serif;}
	body{margin:0;background:#fff;}
	body{width:100%;padding:0;background:#fff;line-height:1.9em;letter-spacing:.01em;-webkit-font-smoothing:subpixel-antialiased;font-smoothing:subpixel-antialiased;}
	ol{margin:0 0 .5em;}
	a,a:active,a:hover,a:visited{cursor:pointer;color:#349ef3;text-decoration:none;}
	a:hover{color:#349ef3;text-decoration:underline;}
	button.submit{filter:alpha(opacity=50);-moz-opacity:.5;-khtml-opacity:.5;opacity:.5;}
	.comments .comment-about:first-child{padding-left:0;}
	.comments .comment-about{width:33.333%;float:left;padding-left:10px;box-sizing:border-box;}
	.comment-meta{margin-top:-5px;margin-bottom:5px;}
	.comment-list{margin:0;padding:0;list-style:none;}
	.comment-list{margin-top:-1px;}
	.comment-list li{padding:22px 0 0;border-top:1px solid #ddd;}
	.comment-meta a{font-size:.92857em;color:#999;}
	.comment-author{display:block;margin-bottom:1px;color:#444;}
	.comment-author .avatar{float:left;width:32px;margin:6px 7px 0 0;padding:1px;border:1px solid #ddd;}
	.comment-author cite{font-weight:700;font-style:normal;line-height:1.2;}
	#comment-form{padding-top:12px;}
	#comment-form label{position:absolute;display:block;margin:4px 8px;color:#888;}
	#comment-form input{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;padding:8px 6px 8px 45px;color:#555;border:solid 1px #d4d4d4;background:#fdfdfd;-o-box-sizing:border-box;}
	#comments .widget-title{font-size:16px;font-weight:400;line-height:2.7;display:block;margin:0;padding-bottom:0;color:#6e7173;border-bottom:1px solid #ddd;}
	#comments button.submit{line-height:32px;opacity:1;display:block;width:100%;height:38px;color:#fff;border:1px solid #272727;outline:0;background:#272727;}
	#comments button.submit:hover{border-color:#505050;background:#505050;}
	#comments p{margin:0 0 10px;}
	textarea.text-area{font-size:14px;line-height:1.8;overflow:auto;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;height:174px;margin:0;padding:5px 8px 5px;color:#555;background:#fdfdfd!important;-o-box-sizing:border-box;}