<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BoomFish</title>
    <!--<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">-->
    <link href="{{ url_for('static', filename='css/style.min.css')}}" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static',filename='js/script.js') }}"></script>
</head>
<body>
    <!--
    <div>
        <h1>添加新评论</h1>
        <form class=form-horizontal" method="post" action="/">
            <div class="form-group">
                <div class="form-inline">
                    <input type="text" class="form-control" id="exampleInputEmail3" placeholder="称呼">
                    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="邮箱">
                    <input type="url" class="form-control" id="exampleInputEmail3" placeholder="网站">
                </div>
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="7" ></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">提交评论</button>
            </div>
        </form>
    </div>
    <br>
    <div>
        <table class="table table-hover">

        </table>
    </div>
    -->
    <div class="comments" id="comments">

{#        <div class="comment-author" itemprop="creator" itemtype="http://schema.org/Person" itemscope="">#}
{#            <span itemprop="image"><img width="32" height="32" class="avatar" alt="小白-白" src=""></span>#}
{#            <cite itemprop="name"><a href="https://www.fczbl.vip" rel="external nofollow">小白 - 白</a></cite>#}
{#        </div>#}
{#        <div class="comment-meta">#}
{#            <a href="https://xeonphi.cn/about.html#comment-2"><time itemprop="commentTime" datetime="2018-03-09T12:31:20+08:00">March 9th, 2018 at 12:31 pm</time></a>#}
{#        </div>#}
{#        <div class="comment-content" itemprop="commentText">#}
{#            <p>修电脑海星 2333</p>#}
{#        </div>#}

            <div id="insert">

            </div>

            <span class="widget-title" id="response">添加新评论</span>
            <form action="/comment" method="post" id="comment-form" >
                <div>
                    <p class="comment-about">
                        <label class="required" for="author">称呼</label>
                        <input name="author" class="text" id="author" type="text" value="" required>
                    </p>
                    <p class="comment-about">
                        <label class="required" for="mail">邮箱</label>
                        <input name="mail" class="text" id="mail" type="email" value="">
                    </p>
                    <p class="comment-about">
                        <label for="url">网站</label>
                        <input name="url" class="text" id="url" type="url" placeholder="http://example.com" value="">
                    </p>
                    <p>
                        <textarea name="text" class="text-area" rows="8" cols="50" required></textarea>
                    </p>
                </div>
                <div class="col2">
                    <p>
                        <button class="submit" type="submit" onclick="">提交评论</button>
                    </p>
                </div>
                <div class="clear"></div>
            </form>
    </div>
</body>
</html>