<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BoomFish</title>
    <!--<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">-->
    <link href="{{ url_for('static', filename='css/style.min.css')}}" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static',filename='js/script.js') }}"></script>
</head>
<body>

    <div class="comments" id="comments">
            <span class="widget-title"> 已有 <span id="number">  </span> 条评论</span>
            <div id="insert">

            </div>

            <span class="widget-title" id="response">添加新评论</span>
{#            <form action="/comment" method="post" id="comment-form" >#}
            <div id="comment-form" >
                <div>
                    <p class="comment-about">
                        <label class="required" for="author">称呼</label>
                        <input name="author" class="text" id="author" type="text" value="" required>
                    </p>
                    <p class="comment-about">
                        <label class="required" for="mail">邮箱</label>
                        <input name="mail" class="text" id="mail" type="email" value="">
                    </p>
                    <p class="comment-about">
                        <label for="url">网站</label>
                        <input name="url" class="text" id="url" type="url" placeholder="http://example.com" value="">
                    </p>
                    <p>
                        <textarea name="text" id="committext" class="text-area" rows="8" cols="50" required></textarea>
                    </p>
                </div>
                <div class="col2">
                    <p>
                        <button class="submit" type="submit" onclick="sendcommit();">提交评论</button>
                    </p>
                </div>
                <div class="clear"></div>
            </div>
    </div>
</body>
</html>