{% for item in itemlist %}
    <div class='numcomment' numid="{{ item['id'] }}">
    <div class="comment-author" itemprop="creator" itemtype="http://schema.org/Person" itemscope="">
        {% if item['author'] == admin_username %}
            <a href="/bug" ><span itemprop="image"><img width="32" height="32" class="avatar" alt="{{ item['author'] }}" src="{{ item['gravatar'] }}"></span></a>
        {% else %}
            <span itemprop="image"><img width="32" height="32" class="avatar" alt="{{ item['author'] }}" src="{{ item['gravatar'] }}"></span>
        {% endif %}
        {% if item['weburl'] == '' %}
            <cite itemprop="name"><a href="javascript:;" rel="external nofollow">{{ item['author'] }}</a></cite>
        {% else %}
            <cite itemprop="name"><a href="{{ item['weburl'] }}" rel="external nofollow">{{ item['author'] }}</a></cite>
        {% endif %}
    </div>
     <div class="comment-meta">
        <a><time itemprop="commentTime" datetime="{{ item['time'] }}">{{ item['strtime'] }}</time></a>
    </div>
    <div class="comment-content" itemprop="commentText">
        <p>{{ item['text'] }}</p>
    </div>
    {% if mode == 'admin' %}
    <div class="comment-reply">
        <a href="/delete/{{ item['id'] }}" rel="nofollow">删除</a>
    </div>
    {% endif %}
    <ol class="comment-list"><li class="comment-body comment-child comment-level-odd comment-odd comment-by-author" id="comment-3" itemscope="" itemtype="http://schema.org/UserComments"></ol>
    </div>
{% endfor %}